nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

nav ul li {
    text-decoration: none;
    margin-bottom: 0 !important;
}

hr{
    margin: 0;
}

.nav-link.active {
    color: yellow !important; 
    border-bottom: 2px dashed yellow;
  }
