.user-entete{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
}
button  {
   padding: 0.5rem 1.5rem;
   border-radius: 5rem;
   background-color: green;
   border: none;
}
button a{
    font-size: 1.5rem;
    color: white;
}